@keyframes topToBottom {
    0% {
        height: 0px;
    }
    100% {
        height: 90px;
    }
}

@keyframes opacityTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(12px);
    }
}

body {
    margin:0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
footer{
    position:fixed;
    bottom:0;
    background-color:grey;
    width:100%;
    height:85px;
    color:white;
    font-size:20px;
    display:flex;
    flex-direction: row;
    margin-right:15px;
}

#socialMediaH1{
    font-size:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align: center;
}

#twitterLogo{
    width:33px;
    height:33px;
    position:absolute;
    bottom:50px;
    right:40px;
}

#discordLogo{
    width:33px;
    height:33px;
    position: absolute;
    bottom:50px;
    right:0;
}

#socialMediaH1Div{
    position:absolute; 
    bottom:47px;
    right:80px;
}

#mail{
    text-decoration:none;
}