@keyframes topToBottom {
    0% {
        height: 0px;
    }
    100% {
        height: 55px;
    }
}

@keyframes opacityTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(12px);
    }
}

body {
    margin:0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

header {
    background-color: gray;
    border-bottom: darkgray 5px solid;
    width: 100%;
    animation: 1s ease-out 0s 1 topToBottom;
    animation-fill-mode: forwards;
    display: flex;
}

#logoTopDiv {
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 300px;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 opacityTransition;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#logoTopIMG {
    width: 40px;
}

#logoTopText {
    color:white;
    font-size: 40px;
    margin:auto;
}

#profileTopDiv {
    position: relative;
}

#profileTopIMG {
    position: absolute;
    width: 45px;
    left:5px;
    top:3px;
    background-color: black;
    border-radius: 100%;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 opacityTransition;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    transform: scale(1);
    transition: transform 0.5s;
}

#profileTopIMG:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#navBarDiv {
    position: relative;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 opacityTransition;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    margin-top: 5px;
}

#navBarPosition {
    position: absolute;
    display: flex;
    flex-direction: column;
    right:5px;
}

#navBarPosition a {
    font-size: 20px;
    transition: color 0.5s;
    text-decoration: none;
    color: white;
}

#navBarPosition a:hover {
    cursor: pointer;
}

#navTopDiv {
    display: flex;
    flex-direction: row;
}

#contactUsTopDiv a {
 font-size: 12px;
 text-align: center;
 margin: 0;
}

#contactUsTopDiv a:hover {
    text-decoration: underline;
}

#contactUsTopDiv {
    margin:auto;
    width:60px;
}

footer{
    position:fixed;
    bottom:0;
    background-color:grey;
    border-top: darkgray 3px solid;
    width:100%;
    height:45px;
    color:white;
    font-size:20px;
    display:flex;
    flex-direction: row;
    margin-right:15px;
}

#socialMediaH1{
    font-size:20px;
    margin:auto;
}

#twitterLogo{
    width:33px;
    height:33px;
    margin-left: 10px;
    transition: 0.5s transform;
}

#twitterLogo:hover {
    transform: scale(1.2);
}

#twitterLogo:active {
    transform: scale(1);
}

#discordLogo{
    width:33px;
    height:33px;
    margin-left: 10px;
    transition: 0.5s transform;
}

#discordLogo:hover {
    transform: scale(1.2);
}

#discordLogo:active {
    transform: scale(1);
}

#socialMediaH1Div{
    position:absolute; 
    bottom:4px;
    right:30px;
    display: flex;
    flex-direction: row;
    width:340px;
    margin:auto;
}

#mail{
    text-decoration:none;
    color:white;
    width:100px;
    margin: auto 0 auto 10px;
}

#mail:hover {
    text-decoration:underline;
}
