button{
    background-color:cyan;
}

.SignInInput{
    border:1px solid #ccc;
    padding:10px;
    border-radius:4px;
    box-shadow:inset 0 1px 3px #ddd;
}

#signIn{
    width: 100%;
    clear: both;
}

label{
    display:block;
}

#signUpModal{
    width: 100%;
    clear: both;
    text-align:center;
}

#myModal{
    background-color:gray;
}