#flex-container {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    text-align:center;
  }
  
  #flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  #custom-Capacity{
      font-size:13px;
      margin-top:5px;
  }

  #custom{
      margin-top:;
  }