#flex-container {
    flex-wrap: nowrap;
    background-color: DodgerBlue;  
    width:100%;
    height:120px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
  }
  /*
  #flex-container  div {
    background-color:dodgerblue;
    border:100%,dodgerblue;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display:flex;
    flex-direction: column;
  }*/

  input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.price-buttons{
    background-color:purple;
    border:none;
    color:white;
    margin:auto;
    width:100px;
    font-size:20px;
    padding: 10px;
     border-radius: 10px;
}

.price-buttons:hover {
  cursor: pointer;
}

.price-buttons:active {
  transform: scale(0.9);
}

.storage-text{
    color:white;
    margin:auto;
    display:flex;
    flex-direction: column;;
}

#price-per-month{
     text-align: center;
     font-size:30px;
     margin:auto;
     color:white;
}

#pricing{
  display:flex;
  flex-direction: row;
  width: 700px;
  margin:auto;
}

#pricing div{
  margin:auto;
}