#signInClick {
    background-color: rgb(0, 119, 155);
    color: white;
    position: absolute;
    top: 30px;
    right: 224px;
    margin-top: 10px;
}

.SignInInput {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    margin-top: 10px;
    margin: 5px;
}

#signIn {
    width: 100%;
    clear: both;
}

.signInLabel {
    display: block;
}

#signUpModal {
    width: 100%;
    clear: both;
    text-align: center;
    height: 280px;
}

.modal-body {
    background-color: lightgrey;
    border-color: lightgrey;
}

.modal-header {
    background-color: lightgrey;
    border-color: lightgrey;
}

.submit {
    width: 100px;
    clear: both;
    text-align: center;
    border: 1px solid, ;
    padding: 1px;
    border-radius: 1px;
    margin-top: 1%;
    display: inline-block;
    border-radius: 4px;
    background-color: #0b6eba;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.google {
    margin-top: 5px;
    clear: both;
    text-align: center;
    border: 1px solid, ;
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 28px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
}

.signInOr {
    text-align: center;
    margin: 0;
    margin-top: 7px;
}

#signUp {
    display: none;
}

#signIn {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 280px;
}

#centerTopModalButtons {
    width: 185px;
    margin: auto;
}

#SignUpClick {
    color: white;
    background-color: #0b6eba;
    padding: 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 80px;
}

#SignInClick {
    color: white;
    background-color: #0b6eba;
    padding: 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 80px;
    margin-right: 20px;
}

#accountDropdown {
    width: 55px;
    height: 55px;
    z-index: 5;
}

#accountDropdownList {
    position: absolute;
    top: 50px;
    display: block;
    opacity: 0;
    z-index: 10;
    background-color: gray;
    height: 0px;
    overflow:hidden;
    transition: opacity 0.2s ease-out, height 0.4s ease;
}

.dropdownAnimate:hover #accountDropdownList {
    height: 95px;
    opacity: 1;
}

#accountDropdownList div {
    font-size: 16px;
    padding: 5px;
    color: white;
    transition: background-color 0.4s;
}

#accountButton:hover {
    cursor: pointer;
    background-color: #0b6eba;
}

#logoutButton:hover {
    cursor: pointer;
    background-color: #ba0b0b;
}

/*
#accountDropdown:hover #accountDropdownList {
    display: block;
    height: 67px;
    opacity: 1;
} */

.signUpDiv {
    display: flex;
    justify-content: center;
}

.signUpDiv div {
    margin: auto;
}