@keyframes topToBottom {
    0% {
        height: 0px;
    }
    100% {
        height: 55px;
    }
}

@keyframes opacityTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(4px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate3d {
    0% {
        transform: rotate(0deg) translateZ(-10px);
    }
    100% {
        transform: rotate(180deg) translateZ(-10px);
    }
}

@keyframes backgroundColorMove { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

@keyframes centerImage {
    to {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

html{
    scroll-behavior: smooth;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


body {
    margin:0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

header {
    background-color: gray;
    border-bottom: darkgray 5px solid;
    width: 100%;
    animation: 1s ease-out 0s 1 topToBottom;
    animation-fill-mode: forwards;
    display: flex;
}

#logoTopDiv {
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 300px;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 opacityTransition;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#logoTopIMG {
    width: 40px;
}

#logoTopText {
    color:white;
    font-size: 40px;
    margin:auto;
    text-decoration: none;
    
}

#logoTopText a {
    color:white;
    text-decoration: none;
}

#logoTopText a:hover {
    color:white;
    text-decoration: none;
}

#navBarDiv {
    position: relative;
    opacity: 0;
    animation: 0.8s ease-out 0s 1 opacityTransition;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    margin-top: 0px;
}

#navBarDiv a {
    font-size: 20px;
    transition: color 0.5s;
    text-decoration: none;
    color: white;
}

#navBarDiv a:hover {
    cursor: pointer;
}

#navTopDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    right:5px;
    top:16px;
}

#contactUsTopDiv a {
 font-size: 12px;
 text-align: center;
 margin: 0;
}

#contactUsTopDiv a:hover {
    text-decoration: underline;
}

#contactUsTopDiv {
    margin:auto;
    width:60px;
}

#topImg {
    width:500px;
    margin:auto;
    display: table;
    opacity: 0;
    animation: rotate 25s linear infinite, opacityTransition 2s ease-out forwards;
    animation-delay: 0.8s;
}

#topImg2 {
    position: absolute;
    width:500px;
    filter: grayscale(1) invert(1);
    left:0;
    top:0;
    opacity: 0;
    animation: rotate3d 25s linear infinite, opacityTransition 2s ease-out forwards;
    animation-delay: 0.8s;
}

#imgHandler {
    transform-style: preserve-3d;
    position: relative;
    width:500px;
    margin:auto;
    
}

#topImgDiv {
    width:100%;
    background-color: darkblue;
    padding-top: 20px;
    background: linear-gradient(0deg, #00008b, #5656ff);
    background-size: 400% 400%;
    -webkit-animation: backgroundColorMove 16s ease infinite;
    -moz-animation: backgroundColorMove 16s ease infinite;
    -o-animation: backgroundColorMove 16s ease infinite;
    animation: backgroundColorMove 16s ease infinite;
}

#topImgTextDiv {
    color:white;
    text-align: center;
    opacity: 0;
    animation: opacityTransition 2s ease-out forwards;
    animation-delay: 0.8s;
}

#topImgTextMain {
    margin-top: 0;
}

footer{
    position: relative;
    background-color:grey;
    border-top: darkgray 3px solid;
    width:100%;
    height:45px;
    color:white;
    font-size:20px;
    display:flex;
    flex-direction: row;
    margin-right:15px;
}

#socialMediaH1{
    font-size:20px;
    margin:auto;
}

#twitterLogo{
    width:33px;
    height:33px;
    margin-left: 10px;
    transition: 0.5s transform;
}

#twitterLogo:hover {
    transform: scale(1.2);
}

#twitterLogo:active {
    transform: scale(1);
}

#discordLogo{
    width:33px;
    height:33px;
    margin-left: 10px;
    transition: 0.5s transform;
}

#discordLogo:hover {
    transform: scale(1.2);
}

#discordLogo:active {
    transform: scale(1);
}

#socialMediaH1Div{
    position:absolute; 
    bottom:4px;
    right:30px;
    display: flex;
    flex-direction: row;
    width:340px;
    margin:auto;
}

#mail{
    text-decoration:none;
    color:white;
    width:110px;
    margin: auto 0 auto 10px;
}

.about{
    text-align:center;
    border:3px solid grey;
    width:350px;
    height:200px;
}

.why{
    text-align:center;
    border:3px solid gray;
    width: 325px;
    height:200px;
}

.video-container{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

#infoPopUpDiv {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  text-align: center;
  margin: auto;
}

#infoPopUpDiv #infoPopUpText {
  opacity: 0;
  width: 450px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: 0;
  right: 0;
  margin-left: -80px;
  transition: opacity 1s;
}

#infoPopUpText:hover {
    cursor: default;
}

#infoPopUpText p:hover {
    cursor: text;
}

#infoPopUpDiv button {
    background-color: purple;
    border: none;
    color: white;
    margin: auto;
    width: 140px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.1s;
}

#infoPopUpDiv button:active{
    transform: scale(0.9);
}

#aboutDiv{
    display:flex; 
    flex-direction:row; 
    justify-content:space-around;
    background-color:lightgray;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}

#teamDiv{
    padding-top:10px;
    height:350px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    width: 1500px;
    margin: auto;
}

#teamVid{
    width:500px;
    height: 280px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 50px;
}

#teamContent{
    display: flex;
    flex-direction: column;
}

#teamTopRow {
    display: flex;
    flex-direction: row;
    height: 200px;
}

#teamTopRow div{
    margin-left:60px;
}

.teamImg {
    width:75px;
    margin-left: 40px;
    border-radius: 20%;
}

.teamDiv {
    width:150px;
    height:160px;
    word-wrap:break-word;
}

.teamDiv button{
    background-color: purple;
    border: none;
    color: white;
    margin: auto;
    width: 80px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 36px;
    transition: transform 0.1s;
}

.teamDiv button:active{
    transform: scale(0.9);
}

#thomasImg{
    width:75px;
    margin-left: 40px;
    border-radius: 20%;
}

#MyStorageButton {
    margin-left: 60px;
    margin-top: 8px;
    color: white;
    background-color:#0b6eba;
    padding: 6px;
    border: none;
    width:100px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

#pricingDiv {
    flex-wrap: nowrap;
    background-color: darkblue;  
    width:100%;
    height:120px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #00008b, #5656ff);
    background-size: 400% 400%;
    -webkit-animation: backgroundColorMove 16s ease infinite;
    -moz-animation: backgroundColorMove 16s ease infinite;
    -o-animation: backgroundColorMove 16s ease infinite;
    animation: backgroundColorMove 16s ease infinite;
  }

  input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.price-buttons{
    background-color:purple;
    border:none;
    color:white;
    margin:auto;
    width:100px;
    font-size:20px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.1s;
}

.price-buttons:hover {
  cursor: pointer;
}

.price-buttons:active {
  transform: scale(0.9);
}

.storage-text{
    color:white;
    margin:auto;
    display:flex;
    flex-direction: column;;
}

#price-per-month{
     text-align: center;
     font-size:30px;
     margin:auto;
     color:white;
}

#pricing{
  display:flex;
  flex-direction: row;
  width: 700px;
  margin:auto;
}

#pricing div{
  margin:auto;
}

.container {
    border-radius: 5px;
    background-color:white;
    padding: 20px;
  }

  #issue, #description, #cEmail {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  }

.modal-footer {
    background-color: lightgrey
}

#review-title {
    text-align:center;
    margin-top:0;
}

#reviews {
    display:flex;
    justify-content:space-around;
}