/* Account Modal */

#profileImageWrapper {
    width: 125px;
    height: 125px;
    margin:auto;
    border-radius: 100%;
    background-image: url("Images/DefaultProfilePicture.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s;
}

#profileImageWrapper:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#changeProfilePic {
    text-align: center;
    background-color: rgba(186, 186, 186, 0.8);
    margin-top: 80px;
}

#accountSettingsForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#accountSettingsEmailDiv {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

#accountSettingsPasswordDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#accountSettingsPasswordDiv div{
    display: flex;
    flex-direction: column;
}

#deleteAccountButton {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color:red;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.1s;
}

#deleteAccountButton:hover {
    cursor: pointer;
}

#deleteAccountButton:active {
    transform: scale(0.9);
}

#saveAccountSettingsButton {
    width:70px;
    display: block;
    margin:auto;
    margin-top: 10px;
    background-color:purple;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.1s;
}

#saveAccountSettingsButton:hover {
    cursor: pointer;
}

#saveAccountSettingsButton:active {
    transform: scale(0.9);
}

